.page{
    background-color: #e8e8e8;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.page-header{
    padding-top: 20px;
    padding-bottom: 20px;
    
}